{% extends 'students/base.html' %}

{% block content %}

<section class='pb-4'>
  <div class='bg-white border rounded-5'>
    <section class='w-100 p-4 justify-content-center'>
      <div class='row justify-content-center' >
        <div>
          <span class='fa-lg mb-5'>filter: gender</span>
          <div class='form-check mt-3'>
            <input class='form-check-input' type='checkbox' id='inlineCheckbox1' value='male'></input>
            <label class='form-check-label' for='inlineCheckbox1'>male</lable>
          </div>
        </div>
      </div>
    </section>
  </div>

</section>

{% endblock content %}